<style type="text/css"> 
<!-- 
 
 #navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #6bc1bc; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #000; 
	background-color: #ffcc00; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #ffcc00;
	padding-right: 0px;
	} 
 
#navbar {
  	position: relative;
  	float: right;
	padding-right: 0px;
	}
--> 
</style> 


<div id="navbar"> 
  <ul> 
	<li><a href="/">Acknowledgements</a></li> 
	<li><a href="introduction.html">Introduction</a></li>   
	<li><a href="methodology.html">Methodology</a></li> 
	<li><a href="cleandata.html">Bias correction</a></li> 
	<li><a href="analysis.html">Analysis</a></li> 
	<li><a href="features.html">Features</a></li> 
	<li><a href="prediction.html">Prediction</a></li>
	<li><a href="summary.html">Summary</a></li>
   </ul> 
</div> 
